name: Chrome Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm i

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - run: php ./vendor/bin/codecept build
    - name: Start dev server
      run: php -S 127.0.0.1:8000 -t tests/data/app >/dev/null 2>&1 &

    - name: Start playwright proxy server
      run: node server.js >/dev/null 2>&1 &
    - name: Tests
      run: php ./vendor/bin/codecept run --env chrome

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
